.footer{
    background-color: #13595e;
    height:auto;
    margin-top:30px;
}
.footer-logo-img {
    width: 85px;
    height: 75px;
}
.categories-title{
    color:white;
    font-size:18px;
    margin-bottom:10px;
}
.footer-link {
    color: #E2DCFC;
    font-size: 15px;
    font-family: Arial;
    margin-bottom:15px;
    text-decoration: none;
}

.footer-link:hover {
    color: #6AB1FC;
}
.footer-card{
    border-color:#549dda;
    border-radius:30px;
    width:100%;
    height:auto;
    max-width:400px;
    background-color: #13595e;
}


