
.icon-box {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    margin-bottom:60px;
    width: 55px;
    height: 55px;
    padding:4px;
    background-color: white;
    border-radius: 9px;


}

.right-box{
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    display: inline-block;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 18px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding: 8px ;
    color: #6e6c6c;
}


.card-header {
    position: relative; /* Make this the reference point for absolute positioning */
}
.card-head{
    display: flex;
}

.middle-p-big {
    font-size: 30px;
    font-weight:bold;
    color: white;
    margin-right:20px;
    margin-top:50px;
    margin-left:-15px;
    width:100%;
}
.bottom-p-big {
    font-size: 17px;
    color: #E2DCFC;
    width:100%;

}
.middle-p-small{
    color: #595858;
    font-size:27px;
    font-weight:bold;
    margin-left:-15px;
    margin-top:50px;
    margin-bottom:40px;
    width:100%;
    position: relative;
    display: inline-block;
    line-height: 1.2

}
.bottom-p-small{
    color:grey;
    font-size:16px;
    margin-left:-15px;
    margin-right:-159px;
    margin-top:-25px;
    width:100%;
}



.card-1 {
    width: 100%;
    /*min-width:500px;*/
    height:  100%;
    background-color: #372778;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom:20px;
    display: flex;
    flex-direction: column;

}

.card-1:hover {
    background-color: #6E4EEF;
}
.card-turquoise,.card-yellow,
.card-purple,.card-blue,
.card-green,.card-pink{
    width: 100%;
    height: 100%;
    border:none;
    display: flex;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom:20px;
    flex-direction: column;

}
.card-turquoise {
    background-color: #E8F7F8;
}

.card-turquoise:hover {
    background-color: #1DB1B5;
}
.card-turquoise:hover .middle-p-small {
    color:white;
}
.card-turquoise:hover .bottom-p-small {
    color:white;
}
.card-yellow{
    background-color: #FDF9E8;
}

.card-yellow:hover {
    background-color: #EFC02A;
}
.card-yellow:hover .middle-p-small {
    color:white !important;
}
.card-yellow:hover .bottom-p-small {
    color:white !important;
}
.card-purple {
    background-color: #F0EDFD;
}

.card-purple:hover {
    background-color: #6E4EEF;
}
.card-purple:hover .middle-p-small {
    color:white !important;
}
.card-purple:hover .bottom-p-small {
    color:white !important;
}

.card-blue {
    background-color: #EBF7FF;
}

.card-blue:hover {
    background-color: #38ACFC;
}
.card-blue:hover .middle-p-small {
    color:white;
}
.card-blue:hover .bottom-p-small {
    color:white;
}

.card-green{
    background-color: #F0F9EC;
}

.card-green:hover {
    background-color:  #69C140;
}
.card-green:hover .middle-p-small {
    color:white;
}
.card-green:hover .bottom-p-small {
    color:white;
}
.card-pink{
    background-color: #FFEEEF;
}

.card-pink:hover {
    background-color: #FC555E;
}
.card-pink:hover .middle-p-small {
    color:white;
}
.card-pink:hover .bottom-p-small {
    color:white;
}
/*/////////*/
.icon-box svg {
    width: 30px;
    height: 30px;
}
.card-1 .icon-box svg{
    fill: #6E4EEF;
}
.card-turquoise .icon-box svg {
    fill: #1DB1B5; /* Match card hover color */
}

.card-yellow .icon-box svg {
    fill: #EFC02A; /* Match card hover color */
}

.card-purple .icon-box svg {
    fill: #6E4EEF; /* Match card hover color */
}

.card-blue .icon-box svg {
    fill: #38ACFC; /* Match card hover color */
}

.card-green .icon-box svg {
    fill: #69C140; /* Match card hover color */
}

.card-pink .icon-box svg {
    fill: #FC555E; /* Match card hover color */
}





