.main-wrapper-services-2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.services-search-text {
    font-size: 38px;
    font-weight: bold;
    font-family: roboto;
    color: #163b3c;
}

.search-bar {
   max-width:850px;
    width:100%;
    height: 68px;
    background-color: white;
    border-radius: 10px;
    display: flex;

}

.search-bar-input {
    all: unset;
    color: black;
    height: 100%;
    width: 100%;

}

.search-bar-button {
    all: unset;
    cursor: pointer;

}


/*//cards:*/
.card-services {
    border-radius: 15px;
    border-width: 2px;
    max-width: 420px;
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    border-color: #185c5c !important;
    padding-bottom: 20px;
    margin-bottom: 30px;


}


.card-services-header {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    border-radius: 15px;
    border-bottom: none;
}


.card-services-header:hover .card-top-text {
    color: white !important;
}

.card-services-header:hover .card-middle-text {
    color: white;
}

.card-services-header:hover .icon-box-services {
    background-color: white;
}

.card-services-body {
    border-radius: 15px; /* Ensure all child elements have the same border-radius */
}


.icon-card-services {
    width: 40px;
    margin-left: 8px;
    margin-top: 12px;
    color: deepskyblue;

}

.icon-box-services {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
    margin-bottom: 60px;
    width: 55px;
    height: 55px;
    padding: 4px;
    background-color: white;
    border-radius: 9px;
}

.icon-box-services svg {
    width: 30px;
    height: 30px;
}

.card-top-text {
    font-size: 30px;
    color: #185c5c !important;
    font-weight: 700;
    margin-top: 80px;
    line-height: 1.2;

}

.card-middle-text {
    font-size: 15px;
    color: dimgrey;
    margin-top: 5px;
    font-weight: 600;
}

.card-services-body {
    padding-left: 30px;
    padding-right: 30px;

}

.button-header {
    color: grey;
    font-size: 16px;
    margin-top: -5px;
}

.card-link {
    text-align: left;
    margin-left: -30px;
}

.card-link-line-services {
    margin-top: -10px;

}

.card-link-text-services {
    flex: 30;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #2c2c2c;
    margin-top: -8px;
}

.card-link-text-services:hover {
    color: grey;
}

.card-services:hover .card-services-header {
    background-color:   #07828a; !important;
}

.card-services:hover .card-top-text {
    color: white !important;
}

.card-services:hover .card-middle-text {
    color: white !important;
}

.card-services:hover .icon-box-services {
    background-color: white;
}

.card-link-icon-services {
    flex: 1;
    color: black;
    margin-top: -10px;
}

.card-link-icon-services:hover {
    color: grey;
}

.card-link-icon-services:hover .card-services-header {
    background-color: rgba(115, 18, 111, 0.78);
}

.card-link-bottom-services {
    margin-top: -4px;
    border: none;
    background-color: white;
}

.card-link-bottom-services:hover {
    opacity: 75%;
}

.card-link-bottom-text {
    color: #185c5c !important;
    font-size: 15px;
    flex: 15;
    font-weight: bold;
}

.card-link-bottom-icon {
    flex: 1;
    color: #185c5c !important;
    margin-left: 10px;

}

/*////icon-box*/
.icon-turquoise {
    fill: white;
    color: #1DB1B5;
    border-style: solid;
    border-color: #91d4d6;
    border-width: 1px
}

.icon-yellow {
    fill: white;
    color: #EFC02A;
    border-style: solid;
    border-color: #ecd286;
    border-width: 1px;
}

.icon-purple {
    fill: white;
    color: #6E4EEF;
    border-style: solid;
    border-color: #9d89ea;
    border-width: 1px;
}

.icon-blue {
    fill: white;
    color: #38ACFC;
    border-style: solid;
    border-color: #649ec6;
    border-width: 1px;
}


.icon-green {
    fill: white;
    color: #69C140;
    border-style: solid;
    border-color: #96dc75;
    border-width: 1px;
}


.icon-pink {
    fill: white;
    color: #FC555E;
    border-style: solid;
    border-color: #e6aaae;
    border-width: 1px;

}

/*services*/

.card-image-text-box {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: #e9f8e9;
    color: #38e338;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
}

.card-services-detail {
    max-width: 400px;
    width: 100%;
    height:100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/*.card-body {*/
/*    flex-grow: 1; !* Allow the body to take up available space *!*/
/*}*/

.card-service-detail-image {
    display: block;
    max-width: 400px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.card-services-detail-body {
    background-color: #e1f4f6;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space evenly */
    height: auto;
    margin-left: -1px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.card-service-detail-header {
    color: #107171;
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    max-width: 400px;
    padding: 0;

}

.card-service-detail-middle-text {
    color: dimgrey;
    font-size: 16px;
    margin-top: -8px;
    line-height: 1.3;

}

.card-service-detail-button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #107171;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 55px;
    margin-top: auto;
    margin-left: 60px;
}

/*//services-detail-page*/
.services-detail-page-img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services-detail-page-header {
    font-size: 37px;
    font-weight: bold;
    color: #107171;
}

.services-detail-page-text li {
    color: #4e4d4d;
    font-size: 16px;


}

.services-detail-page-text-bottom {
    font-size: 17px;
    line-height: 1.6;
    color: #4e4d4d;
    padding: 20px;
    width: 500px;
    font-weight: 400;
    justify-content: start;
}

.services-detail-description strong {
    color: #372778;
    font-weight: bold;
}

/*//appointment-card*/

.appointment-card {
    max-width: 460px;
    width: 100%; /* Ensures responsive width */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 10px;
    position: absolute;
}

.appointment-card-title {
    color: #107171;
    text-align: center;
    font-size: 21px;

}

.appointment-time-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 550px; /* Define the scrollable height */
    position: relative; /* Needed for sticky positioning to work */

}

.appointment-time-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.appointment-day-container {
    flex: 0 0 auto;
    margin-right: 10px;
}

.appointment-day-header {
    position: sticky;
    left: 0;
    top: 0;
    background-color: white; /* Ensures it stands out when scrolling */
    z-index: 2;
    border-bottom: 1px solid #ddd;
    margin-right: 20px;
    text-align: left;
    flex-shrink: 0;
    padding-right: 20px;
}


.appointment-day {
    color: #107171;
    font-size: 17px;
    flex: 1;
    text-align: center;
    font-weight: 500;
    /*margin-left:12px;*/

}

.appointment-date {
    color: #5ebfbf;
    font-size: 17px;
    margin-top: -6px;
    text-align: center;
    font-weight: 500;
    margin-left: 12px;

}

.appointment-time-button {
    border: none;
    margin-bottom: 10px;
    background-color: #71d6d6;
    color: #0f5757;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 450;
    margin-left: 10px;

}

.appointment-day-date {
    display: flex;
    flex-direction: row; /* Arrange day and date horizontally */
    align-items: center; /* Vertically align text */
    font-size: 18px; /* Adjust font size */
    font-weight: bold; /* Bold text for day/date */
    margin-right: 20px; /* Space between day/date and times */
    white-space: nowrap; /* Prevent text wrapping */
}

.appointment-times {
    display: flex;
    gap: 10px; /* Space between time buttons */
    flex-wrap: wrap; /* Allow times to wrap to the next line if needed */
}


.appointment-row {
    display: flex;
    align-items: center; /* Align day/date and times vertically centered */
    margin-bottom: 20px; /* Space between rows */
    padding: 10px;
    border: 1px solid #ccc; /* Optional: Border for styling */
    border-radius: 8px; /* Optional: Rounded corners */
    background-color: #f9f9f9; /* Optional: Background color */
}


@media (max-width: 768px) {
    /* Adjust the max-width as per your requirement */
    .appointment-day-container {
        display: block !important;
    }

    .appointment-day-header {
        display: block !important;
    }

    .appointment-time-container {
        display: block !important;
    }

    .appointment-card {
        width: 120%;
        position: relative;
        margin-left: -20px;
    }

}
